body {
    margin: 0;
    height: 92.5vh;
}

/* #footer{
    position: fixed;
    left: 10px;
    bottom: 10px;
    width: 100%;
    color: whitesmoke;
} */

#main-h1{
    color: whitesmoke;
}

html {
    background-color: rgb(24,25,26);

}

#main-page{
    height: 92vh;
    display: flex;
    flex-direction: row;
}

.left-pic {
    width: 100vh;
    height: 92vh;
    object-fit: cover;
    object-position: 30% 20%;
}

#left{
    width: 50%;
    height: 92vh;
}

#middle{
    width: 50%;
    height: 92vh;
}

#main-h1{
    font-size: 42px;
    font-weight: bold;
    padding-top: 25%;
    padding-bottom: 40px;
    margin-left: 25px;
}

#main-text{
    font-size: 22px;
    margin-left: 25px;
    padding-bottom: 30px;
    width: 500px;
    line-height: 150%;
}

#main-demo{
    margin-left: 25px;
    background-color: rgb(174, 37, 37);
    color: white;
    border-radius: 5px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
    font-weight: bold;
    outline: none;
}

#main-demo:hover{
    cursor: pointer;
}

#main-demo:active,
#main-demo:focus{
    outline: none;
}