 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .modal-box {
     height: 350px;
     width: 800px;
     background-color: rgb(174, 37, 37);
 }

 #modal-text{
    height: 70%;
    width: 80%;
    margin-left: 75px;
    background-color: rgb(36,37,38);
    color: white;
    text-indent: 8px;
    border: none;
 }

 #modal-title{
     margin-left: 75px;
     padding-top: 10px;
 }

 #modal-text:active,
 #modal-text:focus{
   outline: none;
 }

#modal-btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 9px;
    margin-left: 75px;
    font-weight: bold;
    outline: none;
}

#modal-btn:hover{
    cursor: pointer;
}