.image-container {
    border-radius: 15px;
    background: rgb(36,37,38);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.Carousel-root-1 {
    border-radius: 15px;
    min-width: 100%;
    min-height: 500px;
    justify-content: center;
}

.full-carousel-div {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.carousel-div {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.carousel-image {
    max-height: 100%;
    max-width: 100%;
}

#delete-image-btn {  
    border: 2px solid rgb(174, 37, 37);
    background: transparent;
    color: #d2d2d2;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40%;
    margin: 100px auto 10px auto;
    font-weight: bold;
    z-index: 1
}

#delete-image-btn:hover {
    cursor: pointer;
}

#center-image {
    position: absolute;
    max-height: 70%;
    max-width: 80%;
    margin-top: 30px;
    z-index: 1
}

#left-image {
    opacity: 0.2;
    object-fit: contain;
    height: 65%
}

#right-image {
    opacity: 0.2;
    object-fit: contain;
    height: 65%
}
