/* .header-nav-logo {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
} */

.up-nav-list {
    float: right;
    padding-right: 20px;
}

.up-nav-list > li {
    float: left;
    padding: 10px;
    padding-right: 30px;
}

.user-profile-body {
    display: flex;
    flex-direction: row;
}

.user-profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile-main {
    width: 75%;
}


.user-header-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}