/* .header-nav-logo {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
} */

.up-nav-list {
    float: right;
    padding-right: 20px;
}

.up-nav-list > li {
    float: left;
    padding: 10px;
    padding-right: 30px;
}

.user-profile-body {
    display: flex;
    flex-direction: row;
}

.user-profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile-main {
    width: 75%;
}


.user-header-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.user-stat-box {
    border: 2px solid blue;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

/* .stat-item {
    
} */

.user-stat-form {
    margin-bottom: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}


.user-stat-section {
    width: 30%;
}

.user-stat-form-section {
    width: 30%;
}

/* body {
    background: black;
    color: white;
} */

.user-image {
    height: 300px;
}